[run]
omit =
    tests/test_max_short.py
    tests/test_notebooks.py
    */examples/*.*

[report]
omit =
    *test*
    */__init__.py
exclude_lines =
    if typing:
    if TYPE_CHECKING:

ignore_errors = True