# APE temprorary until we get the GH actions & workflow set up
ape-config.yaml

# default logging directory
.logging

# smart contract compile directory
.build

# output directory for saved notebook figures
figs

# smart contracts symlink (should only ignore top level folder)
hyperdrive_solidity

# Ape
.cache

# Byte-compiled / optimized / DLL files
__pycache__/

# pytest
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# coverage
.coverage
coverage.xml
htmlcov

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
elf-env

# documentation
docs/source/_autosummary
docs/source/generated
docs/source/autoapi
docs/build
docs/make_outputs.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# OSX files
.DS_Store

# VScode
.vscode

# pycharm
.idea
