# Postgres configuration
# Used when chain's config `use_existing_postgres` is set to True
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_DB="agent0_db"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432

# Rollbar api key
ROLLBAR_API_KEY=<INSERT_KEY>