# Local connection
RPC_URI="http://localhost:8545"
ARTIFACTS_URI="http://localhost:8080"
DATABASE_API_URI="http://localhost:5002"

# EC2 connection
# RPC_URI = "https://delvtradingcomp.net/node"
# ARTIFACTS_URI = "https://delvtradingcomp.net/artifacts"
# DATABASE_API_URI = "https://delvtradingcomp.net/data"

ABI_DIR="./packages/hyperdrive/src/abis"