astunparse
black
# make cached keys warning use logging: https://github.com/wakamex/ape/pull/2
eth-ape @ git+https://github.com/wakamex/ape@v0.6.9.420
ipython
jupytext
matplotlib
nbconvert
numpy
pandas
pylint
pyright
pytest
python-dotenv
scipy
tomli
typing_extensions==4.5.0
