astunparse
black
# quiet cached keys warnings
eth-ape @ git+https://github.com/wakamex/ape@v0.6.9.420
ipython
jupytext
matplotlib
nbconvert
numpy
pandas
pylint
pyright
pytest
python-dotenv
scipy
tomli
typing_extensions==4.5.0
